@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  ul,
  ol {
    list-style-type: disc;
    padding-left: 2rem
  }

  a {
    text-decoration: underline;
  }

  p {
    margin-bottom: 1rem;
  }

  h1 {
    @apply text-2xl my-2 font-bold;
  }

  h2 {
    @apply text-xl my-1 font-bold;
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}


:root {
  --dma-blue: #0d4ab2;
  --highlight-color: #ff7528;
  --background-grey: rgb(237, 242, 247);
  --accent: 107, 171, 144;
  /* thanks components.ai */
  --color-0: #b9bdec;
  --color-1: #8792df;
  --color-2: #526cce;
  --color-3: #184db6;
  --color-4: #003895;
  --color-5: #00286e;
  --color-6: #0d1c45;
  --color-7: #0e1020;
  /* breakpoints */
  --sm-size: 640px;
  --md-size: 768px;
  --lg-size: 1024px;
  --xl-size: 1280px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  line-height: 2.3ch;
  font-size: 18px;
}

h1 {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
}

h1,
h2,
h3,
h4 {
  color: var(--dma-blue);

}

.list-style-none {
  list-style-type: none !important;
}

.container-xl {
  max-width: var(--xl-size);
  margin: auto;
  width: stretch;
}

.container-lg {
  max-width: var(--lg-size);
  margin: auto;
  width: stretch;
}

.container-md {
  max-width: var(--md-size);
  margin: auto;
  width: stretch;
  position: relative;
}

.container-white {
  padding: 2rem;
  background-color: white;
  border-radius: 3px;
  margin-top: 3rem;
}

/* my own css utility below */

.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.flex-row {
  flex-direction: row;
}

.stretch {
  width: stretch;
}

.lite-youtube-fallback {
  aspect-ratio: 16 / 9;
  /* matches YouTube player */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

/* right-facing triangle "Play" icon */
.lite-youtube-fallback::before {
  display: block;
  content: '';
  border: solid transparent;
  border-width: 2em 0 2em 3em;
  border-left-color: red;
}

.lite-youtube-fallback:hover::before {
  border-left-color: #fff;
}

.lite-youtube-fallback:focus {
  outline: 2px solid red;
}