---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Engins de pêche combattus">
  <section class="container-md container-white">
    <h1>Engins de pêche combattus</h1>
    <ul>
      <li>
        <a href="/engins/filets-fixes-estran">Filets fixes sur l'estran</a>
      </li>
      <li>
        <a href="/engins/tamis-a-civelles">Tamis à civelles</a>
      </li>
      <li>
        <a href="/engins/les-filets-remorques-ou-chaluts"
          >Filets remorques ou Chaluts</a
        >
      </li>
    </ul>
  </section>
</Layout>
