---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bilan Comptable">
  <section class="container-md">
    <h1>Bilans Comptables</h1>
    <p>
      Les bilans comptables successifs de l'association sont consultables
      ci-dessous. Ils sont mis en ligne qu'après validation par l'assemblée
      générale de l'année suivante, ce qui peut expliquer l'absence de celui de
      l'année précédente.
    </p>
    <ul>
      <li>Bilan comptable de l'ADRM 2018 : balance 2018, grand livre 2018.</li>
      <li>Bilan comptable de l'ADRM 2019</li>
      <li>Bilan comptable de DMA 2020</li>
    </ul>
  </section>
</Layout>
