---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import "../styles/global.css";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Nos dernières actualités</h1>
    <ul role="list" class="link-card-grid">
      {
        allPosts.map((post) => (
          <Card
            href={`/blog/${post.slug}`}
            title={post.data.title}
            body={post.data.description}
          />
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 90ch;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
