---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import cadaImage from "../assets/cada.webp";
---

<Layout title="donnee">
  <section class="container-md">
    <h1>Récupération de données environnementales</h1>
    <Image src={cadaImage} width={799} alt="schema donnee environement" />
    <p>Exemples de données récupérées par DÉFENSE DES MILIEUX AQUATIQUES :</p>
    <ul>
      <li>
        <a href="https://www.defensedesmilieuxaquatiques.org/especes"></a>
        Bilan des chalutages dérogatoires dans les trois milles d'Arcachon
      </li>
      <li>
        <a
          href="https://www.defensedesmilieuxaquatiques.org/observations-captures-saumons-%C3%A0-la-c%C3%B4te"
        ></a>
        Rapport d'observations embarquées des captures accidentelles de saumon à
        la côte
      </li>
      <li>
        <a href="/captures-de-saumons"></a>
        Déclarations des captures accidentelles de salmonidés
      </li>
      <li>
        <a href=""></a>
        Données des licences CMEA (pêche des amphihalins)
      </li>
      <li>
        <a href=""></a>
        Documents du Comité de gestion des Poissons Migrateurs de l'Adour
      </li>
      <li>
        <a href=""></a>
        Classification des rivières à saumon françaises
      </li>
    </ul>

    <p>
      La meilleure façon de passer inaperçu est de vivre caché. Une lapalissade
      mise en œuvre depuis toujours dans le monde de la pêche où l'absence de
      données exhaustives et fiables est le principal obstacle à la gestion
      durable de cette activité où tout se passe sous l'eau, loin des yeux et de
      l'opinion publique. Cette opacité est entretenue par l'administration
      française de la pêche qui a une fâcheuse tendance à garder sous le coude
      les quelques informations sensibles qu'elle peut détenir, surtout quand on
      les lui demande explicitement.
    </p>

    <p>
      C'est là que la libre circulation des informations environnementales
      garantie par le code de l'environnement est d'un précieux secours (<a
        href="https://www.legifrance.gouv.fr/codes/section_lc/LEGITEXT000006074220/LEGISCTA000006159212/#LEGISCTA000006159212"
        >Articles L124-1 à 124-8 du code de l'environnement</a
      >). Elle nous a valu nos premiers succès juridiques. L'administration a
      été surprise : jamais personne ne lui avait demandé quoique ce soit sur le
      thème de la pêche. Elle nous a donc traité par le mépris à plusieurs
      reprises, mais les tribunaux l'ont rappelée à l'ordre.
    </p>

    <p>
      La recette est simple : faire une demande très précise de l'information
      demandée et attendre un mois. L'absence de réponse ou un défaut de
      transmission au delà d'un mois est le feu vert pour saisir <a
        href="https://www.cada.fr/"
        >la Commission d'accès aux Documents Administratifs</a
      >. Ensuite, en faisant soigneusement attention aux délais -- comme
      l'explique la diapositive ci-dessus -- , il faut saisir le tribunal
      administratif compétent. Il ne reste plus qu'attendre que la mayonnaise
      prenne et que l'information arrive dans votre boîte à lettres ou dans
      votre ordinateur. Ça fonctionne. Essayez !
    </p>
  </section>
</Layout>
