---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import PhilippeGarcia from "../assets/philippe-garcia.jpeg";
import LaurentOsswald from "../assets/osswald.webp";
import JessicaSalmon from "../assets/jessicasalmon.webp";
import quisommesnous from "../assets/quisommesnous.webp";
import Gwen from "../assets/gwen.jpg";
import Hero from "@components/Hero.astro";
import Youtube from "@components/Youtube.astro";
---

<style>
  section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  h1 {
    text-align: center;
  }
  img {
    border-radius: 50%;
    width: 80%;
    height: 80%;
    aspect-ratio: 1/1;
  }
  ul {
    margin-bottom: 2rem;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 2rem;
  }
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }
</style>

<Layout title="equipe">
  <Hero asset={quisommesnous} />
  <section class="container-xl stretch">
    <h1>Equipe</h1>
    <ul>
      <li>
        <Image
          src={PhilippeGarcia}
          width={282}
          height={286}
          alt={"Portrait Philippe Garcia"}
        />
        <span>
          <h3>Philippe Garcia</h3>
          <em>Président</em>
        </span>
      </li>
      <li>
        <Image
          src={JessicaSalmon}
          width={282}
          height={286}
          alt={"Portrait Jessica Salmon"}
        />
        <span>
          <h3>Jessica Salmon</h3>
          <em>Membre du CA</em>
        </span>
      </li>
      <li>
        <Image
          src={Gwen}
          width={282}
          height={286}
          alt={"Portrait Gwenaëlle Boulet"}
        />
        <span>
          <h3>Gwenaëlle Boulet</h3>
          <em>Membre du CA</em>
        </span>
      </li>
    </ul>
    <Youtube videoid="DE2kvrQQVWQ" />
  </section>
</Layout>
