---
import Layout from "../layouts/Layout.astro";
---

<style>
  h1 {
    text-align: center;
  }
</style>

<Layout title="equipe">
  <section class="container-md">
    <h1>Equipe</h1>
  </section>
</Layout>
