---
import Layout from "../layouts/Layout.astro";
---

<style>
  h1 {
    text-align: center;
  }
  .grid-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
</style>

<Layout title="fonctionnement">
  <section class="container-md">
    <h1>notre fonctionnement</h1>
    <p>
      Actuellement, un groupe restreint de membres travaille à temps plein au
      sein de Défense des Milieux Aquatiques. Ils représentent les convictions
      et les mérites qui ont édifié l’association, afin d’assurer sa permanence,
      mais aussi informer, étudier, contrôler, et engager des actions de
      protection quotidiennement.
    </p>
    <p>
      En résumé, les actions juridiques de DMA visent la protection et la
      conservation de l’ensemble des éléments composant les milieux aquatiques,
      autrement dit, les milieux marins, mais également les eaux fluviales et
      toutes les rivières, les cours d’eau, les marais, les forêts primaires, en
      somme, tous les milieux qui participent à l’équilibre de chaque écosystème
      aquatique.
    </p>
    <p>
      Pour ce faire, elle a recours à l’expertise de nombreux halieutes,
      mathématiciens, scientifiques et juristes. Cette pluridisciplinarité
      représente un atout et une force devant les juridictions, synonyme de
      rigueur, technicité, prudence et dévouement pour une cause commune :
      préserver les espèces aquatiques et leurs habitats d’une disparition
      imminente.
    </p>
  </section>
  <section class="container-md grid-container">
    <div>
      <h3>Statuts</h3>
      <a href="/">Statuts de Défense des Milieux Aquatiques</a>
      <p>
        (anciennement ADRM) (modifiés par l'assemblée générale à distance du 25
        septembre 2021)
      </p>
    </div>
    <div>
      <h3>Rapports d'Activités</h3>
      <ul>
        <li>
          <a href="">2018</a>
        </li>
        <li><a href="">2019</a></li>
        <li><a href="">2020</a></li>
        <li><a href="">2021</a></li>
      </ul>
    </div>
  </section>
</Layout>
