---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import youtubeIcon from "../assets/youtube.svg";
import facebookIcon from "../assets/facebook.svg";
import instagramIcon from "../assets/instagram.svg";
import Youtube from "../components/Youtube.astro";
---

<Layout title="DEFENSE DES MILIEUX AQUATIQUES">
  <Hero title="DEFENSE DES MILIEUX AQUATIQUES">
    <a
      class="btn"
      href="https://www.helloasso.com/associations/defense-des-milieux-aquatiques"
    >
      nous rejoindre
    </a>
  </Hero>
  <main>
    <div class="container">
      <section>
        <ul role="list" class="link-card-grid">
          <Card
            href="/equipe"
            title="L'Association"
            body="Présentation de notre association"
          />
          <Card
            href="/notre-grand-projet"
            title="Notre Grand Projet"
            body="Golden Miles, REO plutot RMD"
          />
          <Card
            href="/resultats"
            title="Résultats Juridiques"
            body="Les résultats juridiques de notre association"
          />
          <Card
            href="/nous-aider"
            title="Comment nous aider"
            body="Dons de temps et d'argent, vous pouvez nous aider de plusieurs façons"
          />
          <Card
            href="/ressources"
            title="Ressources"
            body="Retrouvez toutes nos ressources: études, vidéos, audio, etc"
          />
          <Card
            href="/contact"
            title="Contact"
            body="Contactez notre association"
          />
        </ul>
      </section>
      <aside>
        <Youtube videoid="B5v8VxF3uh4" />
      </aside>
    </div>
    <section class="newsletter">
      <h3>Restez informé! Je veux recevoir la newsletter</h3>
      <form
        action="https://buttondown.email/api/emails/embed-subscribe/defensedesmilieuxaquatiques"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/defensedesmilieuxaquatiques', 'popupwindow')"
        class="embeddable-buttondown-form"
      >
        <input
          type="email"
          name="email"
          id="bd-email"
          placeholder="votre adresse email"
        />
        <input id="formButton" type="submit" value="m'inscrire" />
      </form>
    </section>

    <!-- <ul>
        <li>
          <img src={youtubeIcon.src} width={48} alt="Youtube Icon" />
        </li>
        <li>
          <img src={instagramIcon.src} width={38} alt="Instagram Icon" />
        </li>
        <li>
          <img src={facebookIcon.src} width={36} alt="Facebook Icon" />
        </li>
      </ul> -->
  </main>
  <section class="container-lg">
    <div class="description">
      <div>
        <h3>Défense des milieux aquatiques</h3>
        <p>
          DMA a pour vocation exclusive d'agir pour la défense, la protection et
          la conservation de l'intégrité du milieu aquatique naturel en général
          ; plus particulièrement marin et de toutes les espèces dépendantes de
          ce milieu, telles que par exemple les poissons et tous les organismes
          connus ou à découvrir sans exception, y compris les mammifères marins,
          les reptiles, les oiseaux, mais aussi les habitats concernés.
        </p>
      </div>
      <div class="link-container">
        <ul>
          <li data-icon="🐟">
            <h3 class="link-hover">
              <a href="/notre-grand-projet">Sensibilisation</a>
            </h3>
          </li>
          <li data-icon="🦀">
            <h3 class="link-hover">
              <a href="/blog">Actions</a>
            </h3>
          </li>
          <li data-icon="🐚">
            <h3 class="link-hover">
              <a href="/especes-defendues">Protection</a>
            </h3>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="situation-urgente">
    <h3>Une situation urgente</h3>
    <p>
      L'officialisation du chalutage au ras des côtes girondines depuis des
      dizaines d'années, la baisse du stock de bar du Golfe de Gascogne et la
      privatisation rampante de sa pêche, l'absence de zones côtières
      débarrassées de filets, l'absence de volonté politique et de contrôle
      efficace pour repousser les pratiques non-conformes, le scandale de la
      pêcherie du maigre, le drame des salmonidés de l'Adour et de la Gironde ne
      sont que quelques uns des sujets qui préoccupent DMA.
    </p>
    <p>
      <strong>L'association n'est pas opposée à la pêche,</strong>
      laquelle est indispensable à des centaines de millions de personnes dans le
      monde, car l’économie fait également partie du processus de sauvegarde et un
      équilibre doit être trouvé entre les différents acteurs de ce milieu.
    </p>
    <p>
      Toutefois, l'association use de tous les moyens juridiques qui sont à sa
      disposition pour atteindre des pratiques de pêche durables : préserver la
      biodiversité aquatique en envisageant uniquement l'aspect environnemental
      ne suffit pas, notre stratégie repose donc sur la triple condition
      socio-économique et environnementale.
    </p>
    <p>
      Aussi, DMA tente de démontrer le bien-fondé de ses propositions sous ce
      triple aspect et élaborer des stratégies gagnant-gagnant afin de
      neutraliser les pressions et les blocages qui ont permis de tisser une
      véritable toile d'inepties. Enfin, <strong>
        notre objectif est d'agir comme catalyseur du changement</strong
      >. Ainsi, depuis nos débuts, en 2017, nous portons les idées sur
      lesquelles notre organisation sans but lucratif a été fondée : la
      sensibilisation, la protection et l'action.
    </p>
  </section>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-grey);
  }
  main > div {
    gap: 2rem;
  }
  .container > section {
    flex: 2;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin-top: -100px;
  }
  h1,
  h3 {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--dma-blue);
    margin: 0;
  }
  .link-container > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 1rem;
  }
  .link-container > ul > li {
    display: grid;
    grid-template-columns: 0 1fr;
    gap: 1.75em;
    align-items: start;
    font-size: 1.5rem;
    line-height: 1.25;
  }
  .link-container > ul > li::before {
    content: attr(data-icon);
    /* Make slightly larger than the li font-size
  but smaller than the li gap */
    font-size: 1.25em;
  }

  aside {
    flex: 1;
    background-color: var(--dma-blue);
    color: white;
    padding: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    min-width: 300px;
  }

  .newsletter {
    position: relative;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #0d4ab2a6;
    background-image: url("/images/newsletter.jpg");
    background-blend-mode: overlay;
    border-radius: 6px;
    z-index: 2;
  }

  .newsletter h3 {
    color: white;
    z-index: 2;
  }

  .newsletter > ul {
    z-index: 2;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .newsletter > form {
    z-index: 2;
  }
  form > #formButton {
    padding: 0.7rem;
    font-size: 1.1rem;
    color: var(--dma-blue);
    background-color: white;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0.5rem;
  }
  form > input {
    height: 42px;
    padding-left: 1rem;
    border-radius: 3px;
    border: none;
    font-size: 1.2rem;
  }
  .description {
    margin: 6rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 2rem;
    font-size: 1.4rem;
    padding: 2rem;
    line-height: 1.5;
    background-color: white;
  }
  .link-container {
    place-self: center;
  }
  .link-hover {
    position: relative;
    width: fit-content;
    color: var(--dma-blue);
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
  .link-hover > a {
    position: relative;
    z-index: 2;
    text-decoration: none;
    color: var(--dma-blue);
  }
  .link-hover:hover > a {
    color: white;
  }
  .link-hover::after {
    content: "";
    position: absolute;
    background-color: var(--dma-blue);
    inset: 16px 0 0 0;
    z-index: 1;
    transform: scaleY(0.2);
    transition: all 100ms ease;
    height: 20px;
  }

  .link-hover:hover::after {
    transform: scaleY(1.4);
    inset: 0 0 0 0;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .link-card-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
  .situation-urgente {
    margin: auto;
    max-width: 800px;
    font-size: 1.2rem;
    border: 6px solid var(--dma-blue);
    padding: 2rem;
    line-height: 1.5;
  }
  .btn {
    display: inline;
    background-color: #ff7528;
    color: white;
    padding: 1rem;
    border: none;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    text-decoration: none;
  }
</style>
