---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Youtube from "../components/Youtube.astro";
---

<Layout title="DEFENSE DES MILIEUX AQUATIQUES">
  <div class="timeline-wrapper">
    <div class="timeline-years">
      <h2 class="p-4 text-xl font-bold">Nos résultats pour 2024</h2>
    </div>
  </div>
  <div class="hero-wrapper">
    <div class="hero-timeline">
      <template>
        <ul>
          <li>
            <div>
              <a
                href="/blog/jugement-2002506-filets-fixes-estran-charente-maritime"
              >
                Annulation des filets fixes sur l'estran de la Charente Maritime
              </a>
              <span class="tag">2 Mars</span>
            </div>
          </li>
          <li>
            <div>
              <a
                href="/blog/jugement-du-conseil-detat-n-449788-sur-la-preservation-des-dauphins"
              >
                Injonction à l'État de fermer la pêche maritime du Golfe de
                Gascogne pour réduire la mortalité des dauphins
              </a>
              <span class="tag">20 Mars</span>
            </div>
          </li>
          <li>
            <div>
              Suspension des Plans de Gestion des poissons migrateurs des bassins
              <a href="/blog/jugement-2300308-plagepomi-garonne"
                >Garonne-Dordogne (10/2/2023)</a
              >
  
              <a href="/blog/jugement-2301078-plagepomi-adour">
                Adour (28/3/2023)</a
              >
              et
              <a href="/blog/jugement-2301886-plagepomi-rhone-mediterranee">
                Rhône-Méditerranée (03/04/2023)
              </a>
              <span class="tag">10 Fevrier</span>
              <span class="tag">28 mars</span>
              <span class="tag">3 avril</span>
            </div>
          </li>
          <li>
            <div>
              <a href="/blog/conseil-detat-n-472401-anguilles-jaune">
                Réduction des nouvelles dates de pêche de l'anguille en mer d'un
                mois 1/2
              </a>
              <span class="tag">7 Avril</span>
            </div>
          </li>
          <li>
            <div>
              <a target="_blank" href="https://www.legifrance.gouv.fr/ceta/id/CETATEXT000047439134?dateDecision=&init=true&page=1&query=%22article+L123-19-6%22+du+%22Code+de+l%27environnement%22&searchField=ALL&tab_selection=cetat">
                Exclusion des chaluts des trois milles d'Arcachon 
              </a>
              <span class="tag">11 avril</span>
              <a href="/blog/jugement-2303720-3-miles-arcachon">
                 et suspension du nouvel arrêté du 6 juillet 2023
              </a>
              <span class="tag">8 août</span>
            </div>
          </li>
          <li>
            <div>
              <a
                href="/blog/jugement-du-tribunal-administratif-de-bordeaux-n-2301662"
              >
                Suspension de la pêche de la lamproie marine dans l'Adour puis en
                Gironde
              </a>
              <span class="tag">17 avril</span>
            </div>
          </li>
          <li>
            <div>
              <a
                href="blog/jugement-2105947-chasse-oiseaux-migrateurs-bassin-archachon"
              >
                Fin de la chasse de 7 espèces d'oiseaux migrateurs sur le bassin
                d'Arcachon
              </a>
              <span class="tag">16 mai</span>
            </div>
          </li>
          <li>
            <div>
              <a target="_blank" href="https://www.dalloz.fr/documentation/Document?id=TA_BORDEAUX_2023-11-09_2200433#_">
                Annulation du plan de gestion des poissons migrateurs du bassin Garonne-Dordogne
              </a>
              <span class="tag">9 novembre</span>
            </div>
          </li>
          <li>
            <div>
              <a target="_blank" href="https://www.legifrance.gouv.fr/ceta/id/CETATEXT000048478836">
                Annulation de l'arrêté de pêche 2020 dans les Landes
              </a>
              <span class="tag">28 novembre</span>
            </div>
          </li>
          <li>
            <div>
              <a target="_blank" href="https://www.legifrance.gouv.fr/ceta/id/CETATEXT000048478837">
                Annulation de l'arrêté de pêche permanent dans les Landes
              
              </a>
              <span class="tag">28 novembre</span>
            </div>
          </li>
          <li>
            <div>
              <a target="_blank" href="https://www.conseil-etat.fr/content/download/200913/document/489926-489932-489949.pdf">
                Suspension des dérogations à la fermeture de la pêche maritime dans le golfe de Gascogne pendant l'hiver 2023-2024
              </a>
              <span class="tag">22 décembre</span>
            </div>
          </li>
          <li>
            <div>
              <a target="_blank" href="https://www.doctrine.fr/d/TA/Pau/2023/TA887BECD3FF496F7493BA">
                Abrogation des filets fixes amateurs sur l'estran des Landes
              </a>
              <span class="tag">29 décembre</span>
            </div>
          </li>
        </ul>
      </template>
      <ul class="jugements-list">
        <li>
          <div>
            <a
            target="_blank"
              href="https://opendata.justice-administrative.fr/recherche/shareFile/DCE_472199_20241218"
            >
            Annulation des dates de pêche 2023 de la civelle et de l'anguille jaune
            </a>
            <span class="tag">18 décembre</span>
          </div>
        </li>
        <li>
          <div>
            <a
            target="_blank"
              href="https://opendata.justice-administrative.fr/recherche/shareFile/DTA_2202040_20241108"
            >
            Annulation de la pêche maritime professionnelle des saumons, aloses et lamproies dans l'estuaire de l'Adour             </a>
            <span class="tag">8 novembre</span>
          </div>
        </li>
        <li>
          <div>
            <a
            target="_blank"
              href="https://opendata.justice-administrative.fr/recherche/shareFile/DCA_23BX00353_20241107"
            >
            Annulation de la pêche amateur au filet fixe sur l'estran girondin  
          </a>
            <span class="tag">7 novembre</span>
          </div>
        </li>
        <li>
          <div>
            <a
              href="#"
            >
            Exclusion des filets dérivants de l'Adour fluvial par le tribunal administratif de Pau
          </a>
            <span class="tag">28 octobre</span>
          </div>
        </li>
        <li>
          <div>
            <a
              href="/ORDO_REFERE_PENAL_ENVIRONNEMENTAL_INTERCONNEXION_ELECTRIQUE.pdf"
            >
            Suspension des travaux de l'interconnexion électrique France-Espagne pour garantir la protection des cétacés
            </a>
            <span class="tag">14 août</span>
          </div>
        </li>
        <li>
          <div>
            <a
              target="_blank"
              rel="noopener"
              href="https://opendata.justice-administrative.fr/recherche/shareFile/DTA_2206185_20240723"
            >
            Injonction à l'État de communiquer à l'Association les quantités de poissons migrateurs (saumons, aloses et lamproies) déclarées par les pêcheurs maritimes de l’estuaire de l’Adour, sous forme des cumuls mensuels pour chacune des trois espèces et pour chacune des deux années 2020 et 2021 
            </a>
            <span class="tag">23 Juillet</span>
          </div>
        </li>
        <li>
          <div>
            <a href="/blog/jugement-2300308-plagepomi-garonne"
              >
              Annulation des articles 49 et 50 du cahier des charges pour l'exploitation du droit de pêche de l'État dans le département de la Dordogne et injonction au préfet de réviser l’article 49 afin qu’il précise que les filets de type araignée ou trémail autorisés par le code de l'environnement sont tous des filets nécessairement fixes, et l’article 50 pour qu’il mentionne expressément l’interdiction d’emploi des nasses à lamproies, dans le délai de deux mois à compter de la notification du présent jugement.
              </a
            >
            <span class="tag">19 juin</span>
          </div>
        </li>
        <li>
          <div>
            <a target="_blank" href="https://opendata.justice-administrative.fr/recherche/shareFile/DTA_2300301_20240530">
              Annulation de l'arrêté du 18 janvier 2023 modifiant le plan de gestion des poissons migrateurs de Garonne-Dordogne
            </a>
            <span class="tag">30 mai </span>
          </div>
        </li>
        <li>
          <div>
            <a target="_blank" href="/2_JUGEMENT_2204106_16-5-2024_CCCTP_2023-2027_33_FILETS_DERIVANTS_NASSES_A_LAMPROIE.pdf">
              Interdiction des filets dérivants et des nasses à lamproies en Gironde
            </a>
            <span class="tag">16 mai</span>
          </div>
        </li>
        <li>
          <div>
            <a
            target="_blank"
              href="https://opendata.justice-administrative.fr/recherche/shareFile/DCA_22BX01814_20240409"
            >
            2nde annulation en appel de la pêche aux engins et filets des poissons migrateurs en Gironde, Lot-et-Garonne et Dordogne pour défaut d'évaluation des incidences Natura 2000 et violation du principe de précaution
            </a>
            <span class="tag">9 avril</span>
            <a target="_blank" href="https://opendata.justice-administrative.fr/recherche/shareFile/DCA_22BX01819_20240409">jugement 22BX01819_22BX01828</a> et
            <a target="_blank" href="https://opendata.justice-administrative.fr/recherche/shareFile/DCA_22BX01820_20240409">jugement 22BX01820_22BX01829</a>
          </div>
        </li>
        <li>
          <div>
            <a
              target="_blank"
              href="https://opendata.justice-administrative.fr/recherche/shareFile/ORTA_2300031_20240325"
            >
            Suppression de 6 licences de marins-pêcheurs en amont du pont de pierre de Libourne. 
            </a>
            <span class="tag">25 mars</span>
          </div>
        </li>
        <li>
          <div>
            <a target="_blank" href="https://bordeaux.tribunal-administratif.fr/content/download/185630/document/Ordonnance_2400891.pdf">
              Suspension de l'arrêté inter-préfectoral du 22 janvier 2024 autorisant la translocation de 21 000 lamproies marines
            </a>
            <span class="tag">26 février 2024</span>
          </div>
        </li>
        <li>
          <div>
            <a target="_blank" href="./7_AP_12-2-2024_ABROGEANT_FILETS_FIXES_ESTRAN_LANDAIS.pdf">
              Publication de l'arrêté du 12 février 2024 abrogeant la pêche aux filets fixes dans la zone de balancement des marées sur la côte landaise
            </a>
            <span class="tag">19 février</span>
          </div>
        </li>
        <li>
          <div>
            <a target="_blank" href="/2_AP_23-1-2024_interdisant_chasse_oiseaux_BA_2024.pdf">
              Publication de l'arrêté interdisant la chasse des sept espèces d'oiseaux migrateurs sur le bassin d'Arcacho.
            </a>
            <span class="tag">23 janvier</span>
          </div>
        </li>
      </ul>
      
      <p class="keep-fighting">
        <strong>👇 Défendons les milieux aquatiques ensemble 👇</strong>
      </p>
    </div>
  </div>
  <Hero title="DEFENSE DES MILIEUX AQUATIQUES">
    <form
      action="https://buttondown.email/api/emails/embed-subscribe/defensedesmilieuxaquatiques"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.email/defensedesmilieuxaquatiques', 'popupwindow')"
            class="embeddable-buttondown-form"
    >
      <input
        type="email"
        name="email"
        id="bd-email"
        placeholder="votre adresse email"
      />
      <input class="btn-hero" type="submit" value="nous rejoindre" />
    </form>
  </Hero>
  <main>
    <div class="container">
      <section>
        <ul role="list" class="link-card-grid">
          <Card
            href="/equipe"
            title="L'Association"
            body="Présentation de notre association"
          />
          <Card
            href="/notre-grand-projet"
            title="Notre Grand Projet"
            body="Golden Miles, REO plutot RMD"
          />
          <Card
            href="/historique"
            title="Résultats Juridiques"
            body="Les résultats juridiques de notre association"
          />
          <Card
            href="/nous-aider"
            title="Comment nous aider"
            body="Dons de temps et d'argent, vous pouvez nous aider de plusieurs façons"
          />
          <Card
            href="/blog"
            title="Actualités"
            body="Retrouvez nos dernières actualités"
          />
          <Card
            href="/contact"
            title="Contact"
            body="Contactez notre association"
          />
        </ul>
      </section>
      <aside>
        <Youtube videoid="B5v8VxF3uh4" />
      </aside>
    </div>
    <section class="video">
      <div>
        <div class="video__summary">
          <h3>La Rivière <span>de Dominique Marchais</span></h3>
          <p>Entre Pyrénées et Atlantique coulent des rivières puissantes qu’on appelle les gaves.
            Les champs de maïs les assoiffent, les barrages bloquent la circulation du saumon. L’activité humaine bouleverse le cycle de l’eau et la biodiversité de la rivière.
            Des hommes et des femmes tendent leur regard curieux et amoureux vers ce monde fascinant fait de beauté et de désastre. 
            </p>
            <p>Au cinéma le 22 novembre 2023</p>
        </div>
        <Youtube videoid="EtIcELoNdNI" />
      </div>
    </section>
    <section class="podcast">
      <div class="mb-4">
        <h3>Podcast</h3>
        <p>
          Guillaume MEURICE fait découvrir le sujet de la pêche maritime à deux adolescents Ilio et Enna. Leur curiosité et leur pertinence transcendent cette géniale émission. 
          Défense des milieux Aquatiques a eu le privilège de répondre à Ilio et Enna avec une certaine émotion.
        </p>
      </div>
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/2yQRNaXkDjzME12VGOrWpT?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      <a href="https://www.radiofrance.fr/franceinter/podcasts/mission-poseidon" target="_blank" rel="noopener">👉 Ecoutez la suite sur France Inter 👈</a>
    </section>
  </main>
  <section class="newsletter">
    <h3>Restez informé! Je veux recevoir la newsletter</h3>
    <form
      action="https://buttondown.email/api/emails/embed-subscribe/defensedesmilieuxaquatiques"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.email/defensedesmilieuxaquatiques', 'popupwindow')"
              class="embeddable-buttondown-form"
    >
      <input
        type="email"
        name="email"
        id="bd-email"
        placeholder="votre adresse email"
      />
      <input id="formButton" type="submit" value="m'inscrire" />
    </form>
    <!-- <ul class="social-media">
      <li>
        <img src={youtubeIcon.src} width={36} alt="Youtube Icon" />
      </li>
      <li>
        <img src={instagramIcon.src} width={36} alt="Instagram Icon" />
      </li>
      <li>
        <img src={facebookIcon.src} width={36} alt="Facebook Icon" />
      </li>
    </ul> -->
  </section>
  <section class="container-lg">
    <div class="description">
      <div>
        <h3>Défense des milieux aquatiques</h3>
        <p>
          DMA a pour vocation exclusive d'agir pour la défense, la protection et
          la conservation de l'intégrité du milieu aquatique naturel en général
          ; plus particulièrement marin et de toutes les espèces dépendantes de
          ce milieu, telles que par exemple les poissons et tous les organismes
          connus ou à découvrir sans exception, y compris les mammifères marins,
          les reptiles, les oiseaux, mais aussi les habitats concernés.
        </p>
      </div>
      <div class="link-container">
        <ul>
          <li data-icon="🐟">
            <h3 class="link-hover">
              <a href="/notre-grand-projet">Sensibilisation</a>
            </h3>
          </li>
          <li data-icon="🦀">
            <h3 class="link-hover">
              <a href="/blog">Actions</a>
            </h3>
          </li>
          <li data-icon="🐚">
            <h3 class="link-hover">
              <a href="/especes-defendues">Protection</a>
            </h3>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="situation-urgente">
    <h3>Une situation urgente</h3>
    <p>
      L'officialisation du chalutage au ras des côtes girondines depuis des
      dizaines d'années, la baisse du stock de bar du Golfe de Gascogne et la
      privatisation rampante de sa pêche, l'absence de zones côtières
      débarrassées de filets, l'absence de volonté politique et de contrôle
      efficace pour repousser les pratiques non-conformes, le scandale de la
      pêcherie du maigre, le drame des salmonidés de l'Adour et de la Gironde ne
      sont que quelques uns des sujets qui préoccupent DMA.
    </p>
    <p>
      <strong>L'association n'est pas opposée à la pêche,</strong>
      laquelle est indispensable à des centaines de millions de personnes dans le
      monde, car l’économie fait également partie du processus de sauvegarde et un
      équilibre doit être trouvé entre les différents acteurs de ce milieu.
    </p>
    <p>
      Toutefois, l'association use de tous les moyens juridiques qui sont à sa
      disposition pour <strong>atteindre des pratiques de pêche durables</strong> : préserver la
      biodiversité aquatique en envisageant uniquement l'aspect environnemental
      ne suffit pas, notre stratégie repose donc sur la triple condition
      socio-économique et environnementale.
    </p>
    <p>
      Aussi, DMA tente de démontrer le bien-fondé de ses propositions sous ce
      triple aspect et élaborer des stratégies gagnant-gagnant afin de
      neutraliser les pressions et les blocages qui ont permis de tisser une
      véritable toile d'inepties. Enfin, <strong>
        notre objectif est d'agir comme catalyseur du changement</strong
      >. Ainsi, depuis nos débuts, en 2017, nous portons les idées sur
      lesquelles notre organisation sans but lucratif a été fondée : la
      sensibilisation, la protection et l'action.
    </p>
  </section>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-grey);
  }
  main > div {
    gap: 2rem;
  }
  .container > section {
    flex: 2;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin-top: -100px;
  }
  h1,
  h3 {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--dma-blue);
    margin: 0;
  }
  .link-container > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 1rem;
  }
  .link-container > ul > li {
    display: grid;
    grid-template-columns: 0 1fr;
    gap: 1.75em;
    align-items: start;
    font-size: 1.5rem;
    line-height: 1.25;
  }
  .link-container > ul > li::before {
    content: attr(data-icon);
    /* Make slightly larger than the li font-size
  but smaller than the li gap */
    font-size: 1.25em;
  }

  aside {
    flex: 1;
    background-color: var(--dma-blue);
    color: white;
    padding: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    min-width: 300px;
  }

  .newsletter {
    position: relative;
    min-height: 300px;
    color: white;
    text-align: center;
    padding: 3rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #0d4ab2a6;
    background-image: url("/images/newsletter.jpg");
    background-blend-mode: overlay;
    border-radius: 6px;
    z-index: 2;
  }

  .newsletter h3 {
    color: white;
    z-index: 2;
  }

  .newsletter > ul {
    z-index: 2;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .newsletter > form {
    z-index: 2;
  }

  form {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  form > #formButton {
    padding: 0.7rem;
    font-size: 1.1rem;
    color: var(--dma-blue);
    background-color: white;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0.5rem;
  }
  form > input {
    height: 42px;
    padding-left: 1rem;
    border-radius: 3px;
    border: none;
    font-size: 1.2rem;
  }
  .description {
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 2rem;
    font-size: 1.4rem;
    padding: 2rem;
    line-height: 1.5;
    background-color: white;
  }
  .link-container {
    place-self: center;
  }
  .link-hover {
    position: relative;
    width: fit-content;
    color: var(--dma-blue);
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }
  .link-hover > a {
    position: relative;
    z-index: 2;
    text-decoration: none;
    color: var(--dma-blue);
  }
  .link-hover:hover > a {
    color: white;
  }
  .link-hover::after {
    content: "";
    position: absolute;
    background-color: var(--dma-blue);
    inset: 16px 0 0 0;
    z-index: 1;
    transform: scaleY(0.2);
    transition: all 100ms ease;
    height: 20px;
  }

  .link-hover:hover::after {
    transform: scaleY(1.4);
    inset: 0 0 0 0;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .link-card-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
  .situation-urgente {
    margin: auto;
    max-width: 800px;
    font-size: 1.2rem;
    border: 6px solid var(--dma-blue);
    padding: 2rem;
    line-height: 1.5;
    & h3 {
      margin-bottom: 1rem;
    }
  }
  .btn {
    display: inline;
    background-color: #ff7528;
    color: white;
    padding: 1rem;
    border: none;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    text-decoration: none;
  }
  .btn-hero {
    display: inline;
    background-color: #ff7528;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    text-decoration: none;
  }
  .hero-wrapper {
    background-color: white;
  }
  .timeline-wrapper {
    background-color: var(--dma-blue);
  }
  .hero-timeline {
    max-width: var(--md-size);
    margin: auto;
    color: var(--dma-blue);
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
    background-color: white;
  }

  .hero-timeline ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .hero-timeline ul > li {
    margin-top: 1rem;
    font-size: 1.1rem;
    position: relative;
  }
  .hero-timeline ul > li > div {
  }
  .timeline-years h2 {
    color: white;
  }
  .timeline-years {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    max-width: var(--md-size);
    margin: auto;
  }
  .tag {
    background-color: var(--dma-blue);
    color: white;
    width: fit-content;
    height: fit-content;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.1rem 0.2rem;
    border-radius: 3px;
    white-space: nowrap;
    margin-left: 0.15rem;
  }
  .keep-fighting {
    text-align: center;
    margin-top: 2rem;
  }

  .podcast {
    margin-top: 2rem;
    padding: 1rem;
    background-color: white;
  }
  .podcast > a {
    padding-top: 1rem;
    font-size: 1.2rem;
    margin: auto;
    display: block;
    width: fit-content;
  }
  .video {
    margin-top: 2rem;
    padding: 1rem;
    background-color: white;
  }

  
  @media (min-width: 768px) {
    .video > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 768px) {
    .video > div {
      display: flex;
      flex-direction: column;
    }
  }
  
  .video__summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .video__summary h3 > span {
    font-style: italic;
    text-transform: initial;
    font-size: 1rem;
    color: rgb(30, 30, 30);
  }

  .jugements-list a {
    text-decoration: none;
   
  }
  .jugements-list li:hover a {
      text-decoration: underline;
  }

</style>
