---
import Layout from "../layouts/Layout.astro";
---

<Layout title="contact">
  <section class="container-md container-white">
    <h1>C'est presque fini !</h1>
    <h2>
      Cliquez sur le lien que vous allez recevoir par email afin de completer
      votre inscription.
    </h2>
    <strong>Merci !</strong>
  </section>
</Layout>
