---
import Layout from "../layouts/Layout.astro";
---

<Layout title="contact">
  <section class="container-md container-white">
    <h1>Bravo !</h1>
    <h2>Vous êtes bien abonné à notre newsletter</h2>
  </section>
</Layout>
