---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Golden Miles: EXCLUSION DES FILETS DE PÊCHE de la bande marine littorale des TROIS milles nautiques">
  
  <div class="container container-xl">
    <span class="title">GOLDEN MILES</span>
    <h2>Rejoignez les ONG qui exigent l'EXCLUSION DES FILETS DE PÊCHE de la bande marine littorale des TROIS milles nautiques</h2>
    <div class="grid-container">
      <a href="https://defensedesmilieuxaquatiques.org/2_BMSF_VERSION_ULTRA_COURTE_V2_NOTES_EN_FIN_NON_ANONYMISEE.pdf">
        🇫🇷 Le projet GOLDEN MILES au secours des saumons, dauphins et marins-pêcheurs
      </a>
      <a href="https://www.calameo.com/read/00751452419cabfa06623">Lire le premier chapitre de Golden Miles sur Calameo</a>
      <a href="https://defensedesmilieuxaquatiques.org/BMSF_short_en.pdf">
        🇬🇧 The GOLDEN MILES project to the rescue of salmons, dolphins and fishermen
      </a>
      <a href="/golden-miles-commande">Commander votre exemplaire Golden Miles</a>
    </div>
  </div>
  <div class="container-md container-white">
<p>

  Un collectif est en train de s'organiser pour exiger la mise en place d'une bande marine littorale libérée des filets. Votre association est invitée à venir le consolider en adhérant au manifeste. Pour y ajouter votre nom et votre logo par ordre alphabétique, il suffit de vous inscrire sur ce formulaire et de nous adresser votre logo à cette adresse.
</p>
<p>

  L'intérêt environnemental est multiple : soulager les migrateurs amphihalins, restaurer les nourriceries, et diminuer les captures accidentelles de mammifères, oiseaux et tortues marines.
</p>
<p>

  Selon un rapport de la Fondation mondiale pour les poissons migrateurs et de l'UICN [^1] en juillet 2020, la population de poissons migrateurs a chuté depuis les années 70 de 76% dans le monde et de 93% en Europe.
</p>
<p>
  En métropole, nos grands poissons migrateurs sont dans une situation catastrophique [^2] :
  <ul>
    <li>
      - L'esturgeon européen, la grande alose et l'anguille sont «en danger critique d'extinction».
    </li>
    <li>
      - La lamproie marine est « en danger d'extinction ».
    </li>
    <li>
      - Selon les régions, le saumon varie de « vulnérable » à «en danger critique d'extinction»
    </li>
  </ul>
</p>
<p>
  Cet effondrement qui se poursuit sous nos yeux mérite que nous mutualisons nos moyens pour déclencher des actions à la fois efficaces et réalisables.
</p>

<p>
  La situation peut se résumer ainsi :
</p>
  <p>

    Malgré nos efforts qu'il faut néanmoins poursuivre, les grands facteurs de l'effondrement de ces espèces, barrages, pertes des habitats et pollutions, auxquels se rajoute désormais le réchauffement climatique, nous dépassent au point de rendre nos actions impuissantes à court terme.
  </p>
  <p>
    Par contre, nous pouvons et nous devons cesser d'exploiter ces espèces et lutter efficacement contre les captures trop facilement baptisées d'accidentelles. C'est une condition nécessaire, mais pas forcément suffisante.
  </p>
  <p>
    La première action consiste à demander le rachat définitif des licences des pêcheurs professionnels en eau douce puisque les ¾ survivent encore actuellement en tout ou partie sur le dos de ces espèces [^3] à l'agonie. Le traitement social honorable d'une profession condamnée suppose une juste indemnisation, légalement prévue par l'article 22 du nouveau Fonds Européen pour les Affaires Maritime et la Pêche.
  </p>
  <p>
    La deuxième action consiste à libérer la bande marine littorale des trois milles nautiques de tous les filets maillants et des chaluts pour dégager le corridor migratoire des saumons, et l'espace de vie principal des aloses et des esturgeons. C'est là que des milliers de géniteurs saumons et aloses sont capturés chaque printemps en silence. Deux rapports d'observations embarquées attestent d'une moyenne de 3 salmonidés par marée et par navire [^4] [^5] [^6].
    ![saumons par maree et par navire ](/3_SAUMONS_PAR_MAREE_PAR_NAVIRE.jpg)
  </p>

<p>
  À l'heure actuelle, aucune aire marine protégée ne prend en compte cette réalité de la circulation des grands migrateurs amphihalins.
</p>
<p>
  DÉFENSE DES MILIEUX AQUATIQUES a pu faire inscrire cette deuxième action lors du webinaire organisé par l'Office Français de la Biodiversité en janvier 2021 à propos du Plan National Migrateurs Amphihalins . Il reste tout à faire, notamment à appuyer cette proposition au cours du Conseil Maritime de Façade Sud Atlantique où les usagers et les associations de défense de l'environnement disposent d'une quinzaine de voies.
</p>
<p>
  La stratégie proposée est qu'une coalition la plus large possible d'associations s'approprie ce projet commun pour le médiatiser et l'amplifier au point que la presse se fasse l'écho de ce qui est une vraie action novatrice, à la fois réaliste et réalisable.
</p>
<p>
  Refouler les filets au large soulagerait de façon spectaculaire les migrateurs amphihalins, mais également toutes les nombreuses espèces dont les juvéniles se développent principalement en bord de mer, comme les poissons plats et notamment le turbot, en situation très difficile. Soulager les nourriceries permettra donc de doper la biomasse marine, ce qui bénéficiera directement aux marins-pêcheurs dès la saison suivante. Les oiseaux marins, les petits cétacés et les tortues marines en tireront également bénéfice, car ces animaux à respiration aérienne sont particulièrement menacés par les filets en eaux peu profondes, notamment par les filets qui affleurent près de la surface. Enfin, la mesure diminuera le nombre de chavirages et d'accidents dus aux vagues ainsi que le nombre de conflits d'usage.
</p>
<p>
  C'est un projet qui a d'autant plus de sens qu'il est devenu réalité aux USA depuis une à trois décennies selon les États, sur les deux façades de l'Atlantique et du Pacifique, où il a démontré toute sa pertinence au point que désormais les pêcheurs professionnels ont définitivement cessé de le contester.
</p>
<p>
  La coalition contre les filets en bord de mer vous invitent à la rejoindre pour exiger la mise en place de projets pilotes ça et là sur le territoire, par exemple le long de la côte aquitaine pour y favoriser le retour des migrateurs des bassins de l'Adour et de la Gironde mais aussi la restauration des nourriceries.
</p>
<p>
  Les associations partenaires sont invitées à utiliser les documents suivants pour construire leur propre communication :
</p>
<ul>
  <li>
    *   Textes et documents techniques
  </li>
  <li>
    *   Banque de photos et schémas
  </li>
  <li>
    *   La vidéo de DMA sur les captures accidentelles de saumon à la côte
  </li>
</ul>
<p>
  Contact : Philippe GARCIA président de DÉFENSE DES MILIEUX AQUATIQUES maigre42@gmail.com

</p>
<footer>
  Notes :
  
  [^1]: IUCN, WFMF, WWF, TNC, ZSL, [The Living Planet Index (LPI) for migratory freshwater fish, 2020](https://wwfeu.awsassets.panda.org/downloads/lpi_migratory_freshwater_fish_low_min.pdf)
  [^2]: IUCN, [La Liste rouge des espèces menacées en France Poissons d'eau douce de France métropolitaine](https://uicn.fr/wp-content/uploads/2019/08/liste-rouge-poissons-d-eau-douce-de-france-metropolitaine.pdf) 2019
  [^3]: FranceAgrimer, [Étude sur la valorisation économique des espèces invasives d'eau douce en France](https://www.franceagrimer.fr/fam/content/download/59225/document/ETU-MER-ESPECES-INVASIVES-EAU-DOUCE-2017.pdf?version=4) , décembre 2018
  [^4]: [PROUZET P., 2001 - Rapport sur les prises de salmonidés en zone côtière du Pays Basque et du Sud des Landes en 2000. Rapport Ifremer/DRV/RH. Contrat DIREN-CG 64, 46 pages](/1_SAUMON_COTE_64-40_2000_VIERGE.pdf)
  [^5]: [POPOVSKY J., 2002 - Rapport de campagne, prise des salmonidés migrateurs en zone côtière du Pays Basque et du sud des Landes, Institut des Milieux Aquatiques, 2001](/2_RAPPORT_POPOVSKY_captures_2001_REDUIT.pdf)
  [^6]: [GARCIA P., 2021 - Captures accidentelles de saumon le long de la côte basco-landaise LA FABRIQUE DE L'IGNORANCE Analyse critique de deux rapports d'observations embarquées de 2000 et 2001, Défense des Milieux Aquatiques.](/CRITIQUE_RAPPORTS_SAUMON_OBSERVATIONS_EMBARQUEES_2000_2001.pdf)
</footer>

  </div>
  </Layout>

  <style scoped>
    .container {
      padding: 2rem;
      text-align: center;
      border: 8px dashed var(--dma-blue);
      &>h2 {
        max-width: 48ch;
        margin: auto;
      }
    }
    .title {
      font-size: 7rem;
      font-weight: 900;
      -webkit-background-clip: text;
      background-clip: text;
      background-image: url('images/newsletter.jpg');
      color: rgba(0, 0, 0, 0.184);
    }
    .grid-container {
      max-width: 80ch;
      margin-inline: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      padding: 2rem;
      
      &>a {
        background-color: white;
        /* max-width: 40ch; */
        /* margin: auto; */
        display: block;
        border-radius: 0.3rem;
        padding: 1rem;
      }
    }
  </style>