---
import facebookIcon from "../assets/facebook.svg";
import instagramIcon from "../assets/instagram.svg";
---

<style>
  footer {
    margin-top: auto;
    padding: 2rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    background-image: url("/images/footer-bg.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
    height: 253px; /* magic number from image height */
    color: black;
    place-self: normal;
  }
  footer > div {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  ul > li {
    display: inline;
    padding: 0 1rem;
  }
  .icon-list > li > a {
    text-decoration: none;
  }
  .text {
    color: black;
    background-color: white;
    padding: 1px;
  }
</style>
<footer>
  <div>
    <div>
      <ul class="icon-list flex items-center">
        <li>
          <a href="https://www.facebook.com/maigre40">
            <img alt={"facebook"} width={24} src={facebookIcon.src} />
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/dma.association/">
            <img alt={"instagram"} width={24} src={instagramIcon.src} />
          </a>
        </li>
      </ul>
    </div>
    <div class="text">Defense des Milieux Aquatiques - France</div>
    <div>
      <ul>
        <li><a class="text" href="/mentions-legales">Mentions Légales</a></li>
        <li><a class="text" href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</footer>
