---
import { Image } from "astro:assets";
import facebookIcon from "../assets/facebook.svg";
import instagramIcon from "../assets/instagram.svg";
---

<style>
  footer {
    padding: 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  footer > div {
    max-width: 1200px;
    margin: auto;
  }
  /* ul {
    gap: 1rem;
  } */
  ul > li {
    display: inline;
    padding: 0 1rem;
  }
  .icon-list > li > a {
    text-decoration: none;
  }
</style>
<footer>
  <div>
    <ul class="icon-list">
      <li>
        <a href="https://www.facebook.com/maigre40">
          <img alt={"facebook"} width={24} src={facebookIcon.src} />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/defensedesmilieuxaquatiques/">
          <img alt={"instagram"} width={24} src={instagramIcon.src} />
        </a>
      </li>
    </ul>
  </div>
  <div>
    Defense des Milieux Aquatiques - DMA, 716 Vimeney Est, ESCOUSSANS 33760 -
    France
  </div>
  <div>
    <ul>
      <li><a href="/mentions-legales">Mentions Légales</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</footer>
