---
import { Image } from "astro:assets";
import myImage from "../assets/file.jpg"; // Image is 1600x900

const { title, vignette, asset } = Astro.props;
---

<style>
  section {
    display: grid;
    grid-template-areas: "hero";
    height: 48vh;
    max-height: 600px;
    place-items: center;
    background-color: rgba(13, 74, 178, 0.2);
  }
  section > * {
    grid-area: hero;
  }
  img {
    object-fit: cover;
    height: min(48vh, 600px);
    width: 100%;
    z-index: -1;
  }
  .hero__content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    color: white;
    text-align: center;
    font-size: 2rem;
    max-width: 800px;
  }
</style>
<section>
  <div class="hero__content">
    <h1>
      {title}
    </h1>
    <slot />
  </div>
  {
    vignette ? (
      <img src={vignette} alt="Hero image" />
    ) : (
      <Image src={asset ?? myImage} width={1920} alt="Hero image" />
    )
  }
</section>
