---
import Logo from "@assets/DMA-LOGO2BLACK.png";
import { Image } from "astro:assets";
import MobileMenu from "./MobileMenu.astro";
---

<style scoped>
  .mobile-nav-toggle {
    display: none;
  }
  nav {
    display: grid;
    place-items: center;
    z-index: 5;
  }
  nav > ul {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.25rem;
  }

  ul > li {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  h1 > a {
    text-decoration: none;
    color: inherit;
  }

  nav > ul > li > a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: var(--dma-blue);
    font-weight: 500;
    font-size: 1rem;
  }

  .dropdown__title {
    padding: 0px;
    background-color: transparent;
    border: none;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: var(--dma-blue);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
  }

  .dropdown {
    position: relative;
  }

  .dropdown > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .dropdown > ul > li {
    padding-left: 0.5rem;
  }

  .dropdown > .dropdown__menu {
    background-color: var(--dma-blue);

    /* border-radius: 4px; */
    box-shadow: 0 0.15em 0.25em darkblue;
    padding: 0.8rem;
    min-width: 15ch;

    position: absolute;

    top: calc(100% + 0rem);
    left: 50%;
    transform: translateX(-50%);

    transform: rotateX(-90deg) translateX(-50%);
    transform-origin: top center;
    opacity: 0.3;
    transition: 280ms all 120ms ease-out;
  }

  .dropdown:hover .dropdown__menu,
  .dropdown:focus-within .dropdown__menu {
    opacity: 1;
    transform: rotateX(0) translateX(-50%);
    visibility: visible;
  }

  @media (max-width: 35em) {
    .dropdown__menu {
      opacity: 1 !important;
      transform: rotateX(0) translateX(-50%) !important;
      visibility: visible !important;
      position: relative !important;
      top: 0px !important;
    }
  }

  .dropdown__menu > li > a {
    color: white;
    display: block;
    padding: 0.5em;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.2ch;
    white-space: nowrap;
  }
  .dropdown__menu > li > a:hover {
    text-decoration: underline;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    width: stretch;
    padding-bottom: 2rem;
  }

  @media (max-width: 1200px) {
    header {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  h1 {
    font-size: 1.2rem;
    color: var(--dma-blue);
  }

  .highlighted > a,
  .highlighted > a:visited {
    color: var(--highlight-color) !important;
  }
</style>



<aside class="p-3 text-center w-full bg-yellow-100 text-yellow-800 rounded-md">
  <a href="./CP-OISEAUX-MARINS-FR-15-12-2025.pdf">
    <div class="not-italic no-underline">Des ONG poursuivent les autorités françaises pour leur incapacité à protéger les oiseaux
marins.</div>
<span class="text-xs">Communiqué de presse - 15 décembre 2025</span>
    </a>
</aside>
<header>
  <a href="/">
    <Image src={Logo} width={150} height={150} alt="logo dma" />
    <a href="/" class="font-bold text-xl sr-only"> DÉFENSE DES <br /> MILIEUX AQUATIQUES</a>
  </h1>
  <div class="hidden md:block z-10">
    <nav aria-label="navigation principale">
      <ul data-visibility="false" class="main-nav">
        <li class="dropdown">
          <button
            type="button"
            class="dropdown__title"
            aria-expanded="false"
            aria-controls="whoweare-dropdown"
          >
            Qui sommes-nous ?
          </button>
          <ul class="dropdown__menu" id="dma-dropdown">
            <li>
              <a href="/equipe">Equipe</a>
            </li>
            <li>
              <a href="/objectifs">Objectifs</a>
            </li>
            <li>
              <a href="/histoire">Histoire</a>
            </li>
            <li>
              <a href="/rapports-activites">Rapports d'activités</a>
            </li>
            <li>
              <a href="/bilans-comptables">Bilans comptables</a>
            </li>
            <li>
              <a href="/statuts">Statuts</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" >
          <a href="/notre-grand-projet" class="dropdown__title !font-semibold" data-astro-reload>Golden Miles</a>
        </li>
        
        <li class="dropdown">
          <button
            type="button"
            class="dropdown__title"
            aria-expanded="false"
            aria-controls="actions-dropdown"
          >
            Actions
          </button>
          <ul class="dropdown__menu" id="dma-dropdown">
            <li>
              <a href="/historique">Historique</a>
            </li>
            <li>
              <a href="/donnees-environnementales">Données environnementales</a>
            </li>
            <!-- <li>
              <a href="/resultats">Résultats</a>
            </li> -->
          </ul>
        </li>
        <li class="dropdown">
          <button
            type="button"
            class="dropdown__title"
            aria-expanded="false"
            aria-controls="actions-dropdown"
          >
            Ressources
          </button>
          <ul class="dropdown__menu" id="dma-dropdown">
            <li>
              <a href="/especes-defendues">Espèces défendues</a>
            </li>
            <li>
              <a href="/engins">Engins combattus</a>
            </li>
            <li>
              <a href="/ressources/livres">Livres</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" >
          <a href="/blog/" class="dropdown__title !font-semibold" data-astro-reload>Actualité</a>
        </li>
        <li class="dropdown highlighted">
          <a
          class="text-red-700 visited:text-red-700 !font-semibold dropdown__title"
            href="https://www.helloasso.com/associations/defense-des-milieux-aquatiques"
            >Adhésion / don</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <MobileMenu />
</header>
