---
import Layout from "./Layout.astro";

import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  title: string;
}>;
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <section class="container-md">
    <slot />
  </section>
</Layout>
