---
import Layout from "./Layout.astro";
import Hero from "../components/Hero.astro";
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  title: string;
  description?: string;
}>;
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <Hero title={frontmatter.title}>
    <p>
      {frontmatter.description}
    </p>
  </Hero>
  <section class="container-md">
    <slot />
  </section>
</Layout>

<style>
  h1 {
    text-align: center;
  }
  p {
    color: white;
  }
</style>
